@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.News>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<section class="intro">
	<div class="container py-5">
		<div class="row justify-content-center">
			<div class="col-md-7 text-center">
				<h2>@Umbraco.Field("introTitle")</h2>
					@Umbraco.Field("introContent")
				</div>
		</div>
	</div>
</section>

	<div class="blocks bg-lightgrey">
		<div class="container-fluid">
			<div class="row flex-center">
			@{
				var items = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("blocks");

				foreach(var item in items) {
					if(item.DocumentTypeAlias == "blockText") {
						<div class="col-md-6 px-5 py-3">
							<h3>
								@item.GetPropertyValue("title")
							</h3>
							<div class="text-block__news">
								@item.GetPropertyValue("textContent")
							</div>
						</div>
					} else {
						<div class="col-md-6">
							<div class="image-block__news">
								@*<img src="@item.GetPropertyValue("image").Url" />*@
								<img src="../Content/images/hero.jpg">
							</div>
						</div>
					}
				}
			}
			</div>
		</div>
	</div>

	@* <div class="blocks-wrapper">
		<div class="blocks">
			<div class="text-block bg-violet">
				<h3>
					@item.GetPropertyValue("title")
				</h3>
				@item.GetPropertyValue("text")
			</div>
			<div class="image-block">
				@item.GetPropertyValue("image")
			</div>
		</div>
	</div> *@

